#print-content{
  .print-header{
    color: #FFFFFF;
    background-color: #2e3c52;
    padding: 20px;
    .print-header-left{
      text-align: left;
      .print-icon{
        display: inline-block;
      }
      .print-btn{
        display: inline-block;
        cursor: pointer;
        padding-left: 5px;
      }
    }
    .print-header-right{
      text-align: right;
      .print-out{
        cursor: pointer;
      }
    }
  }
}